# {{ ansible_managed }}
[Upload]
URL = {% if journald_server_ssl %}https://{% else %}http://{% endif %}{{ journald_server }}:19532
{% if journald_server_ssl %}
ServerKeyFile = {{ journald_server_ssl_key }}
ServerCertificateFile = {{ journald_server_ssl_certificate }}
TrustedCertificateFile = {{ journald_server_ssl_ca_certificate }}
{% endif %}
