# {{ ansible_managed }}
[Unit]
Description=Journal Remote Upload Service
Documentation=man:systemd-journal-upload(8)
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/lib/systemd/systemd-journal-upload --save-state
User=systemd-journal-upload
DynamicUser=yes
WatchdogSec=3min
PrivateDevices=yes
ProtectHome=yes
ProtectControlGroups=yes
ProtectKernelTunables=yes
ProtectKernelModules=yes
MemoryDenyWriteExecute=yes
RestrictRealtime=yes
RestrictNamespaces=yes
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6
SystemCallArchitectures=native
LockPersonality=yes
StateDirectory=systemd/journal-upload
SupplementaryGroups=systemd-journal {% if journald_client_ssl_group != '' %}{{ journald_client_ssl_group }}{% endif %}


# If there are many split up journal files we need a lot of fds to access them
# all in parallel.
LimitNOFILE=524288

[Install]
WantedBy=multi-user.target
